<div id="privacy-content" class="text-in-box" style="display: none;">
  <h1> Privacy Policy</h1>
  <div class="content">

    <h2>Registration</h2>

   <p> You must register in order to play at The Harvestar. The Harvestar will require
     you to register with your email address and password. This will allow you
    to protect your account from unauthorized access and to record your high scores.</p>

    <p>
    We may send you service announcements and advertising messages from Algorithmica or third parties via email.
    You can unsubscribe from these announcements and advertising messages at any time by sending an email to
    info@algorithmica.it</p>
    
    <h2>Your settings</h2>

    <p>You may choose to submit additional information in order to personalize your page.
    When you use an application which has been developed by a third party and has been integrated into The Harvestar (or an
    application that interacts with applications from other sites) it can be necessary to transmit data that you have
    entered at The Harvestar to the provider of that application.
    You may choose to use third-party applications which require entering additional information or signing in to an
    existing user account at the application provider.
    If information is transmitted to a third-party application, only information that is required to use the respective
    application properly will be transmitted.
    <p>

    <h2>Other data</h2>

   <p> Cookies are small files that allow web servers to recognize the computer used to access a site. Cookies are required
    to use The Harvestar.
    Your IP address may be used to address problems with our server or administer our site or to gather broad
    demographic information about our users.
    When you use The Harvestar, our servers automatically record information that your browser sends whenever you visit a
    website. These server logs may include information such as your web request, Internet Protocol address, browser
    type,
    browser language, the date and time of your request and one or more cookies that may uniquely identify your browser.
    We may share aggregated demographic information about our user base with our partners and advertisers. This
    information does not identify individual users.
    </p>

      <h2>Contextual Advertising</h2>

    <p> We may use software that processes the content displayed on your personalized page to deliver relevant ads to you.
    This will be done using a completely automated process, no human will read the content of your page.</p>

    <h2>Legal Disclaimer</h2>

    <p> We reserve the right to disclose your personally identifiable information as required by law or court order.</p>

    <h2>Changes in this Privacy Statement</h2>

    <p>If we decide to change our privacy policy, we will notify you bye mail.</p>

      <h2>Contact Us</h2>

    <p>If you have any questions or suggestions regarding our privacy policy, please contact us at info@algorithmica.it.<p>
  </div>
</div>