<div id="terms-content" class="text-in-box" style="display: none;">
  <h1> Terms and Conditions </h1>
  <div class="content">


    <p>“The Harvestar” and “we” refer to Algorithmica s.r.l., the operator of the The Harvestar web service (“the
      Service”).
      By using the Service, you agree to be bound by the following Terms and Conditions:</p>
    </p>
    <h2> 1. The Service</h2>

    <p>Your use of the Service is at your sole risk. The Service is provided on an AS IS and AS AVAILABLE basis.
      The Harvestar does not warrant that the service will meet your specific requirements and disclaims all
      responsibility and liability for the availability, timeliness, security or reliability of the Service. The
      Harvestar also reserves the right to modify, suspend or discontinue the Service with or without notice at any time
      and without any liability to you.
    </p>

    <h2>2. Using the Service</h2>

    <p>You agree that you will use the Service in compliance with all applicable local,
      state, national, and international laws, rules and regulations. You shall not, and
      shall not encourage any third party, to use the Service for any fraudulent or
      inappropriate purpose. You are responsible for maintaining the confidentiality of
      your password and are responsible for all activities that occur thereunder.
      Accounts registered by “bots” or other automated methods are not permitted.
    </p>

    <h2>3. Property Rights</h2>

    <p>You acknowledge that The Harvestar owns all
      intellectual property rights of the service. You must not modify,
      adapt or hack the Service or modify another website so as to falsely imply that
      it is associated with the Service. You agree not to reproduce, duplicate, copy, sell, resell or
      exploit any portion of the Service, use of the Service, or access to the Service without the
      express written permission by The Harvestar.</p>

    <h2>4. Third Party Content</h2>

    <p>The Harvestar takes no responsibility for third party content
      (including, without limitation, any viruses or other disabling features),
      nor does The Harvestar have any obligation to monitor such third party content.
      We may, but have no obligation to, remove content and accounts containing Content that
      we determine in our sole discretion are unlawful, offensive, threatening, obscene or
      otherwise objectionable.</p>

    <h2>5. Indemnification</h2>

    <p>You agree to hold harmless and indemnify The Harvestar and its subsidiaries,
      affiliates, officers, agents, and employees from and against any third party claim arising
      from or in any way related to your use of the Service, including any liability or expense arising
      from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys'
      fees, of every kind and nature.</p>

    <h2> 6 Law and Jurisdiction</h2>

    <p>These Terms and Conditions will be governed by and construed in accordance with the laws of Italy.</p>

    <p>For information on privacy issues, please review our Privacy Policy.</p>
  </div>
</div>