<div id="build-buttons-template">
  <div class="build-buttons"></div>
</div>

<div id="build-button-template">
  <div class="build-button">
    <div class="count"></div>
    <div class="bonus"></div>
  </div>
</div>

<div id="build-popup-template">
  <div class="build-popup">

    <div class="resource energy">
      <span class="icon"></span>
      <span class="count">{energy}</span>
    </div>
    <div class="resource titanium">
      <span class="icon"></span>
      <span class="count">{titanium}</span>
    </div>
    <div class="resource water">
      <span class="icon"></span>
      <span class="count">{water}</span>
    </div>
    <div class="resource grain">
      <span class="icon"></span>
      <span class="count">{grain}</span>
    </div>
    <div class="resource silicon">
      <span class="icon"></span>
      <span class="count">{silicon}</span>
    </div>

  </div>
</div>
