<%# ========== Resource Selector =========== %>
<div id="resource-selector-template">
  <div class="resource-selector">
    <div class="counters edit">
      <div class="rubber">
        <div class="resource energy"></div>
        <div class="resource titanium"></div>
        <div class="resource water"></div>
        <div class="resource grain"></div>
        <div class="resource silicon"></div>
      </div>
    </div>
  </div>
</div>

<%# ======== Dialog ========  %>
<div id="dialog-template">
  <div class="dialog">
    <div class="content"></div>
    <div class="bar"></div>
    <div class="handle"></div>
  </div>
</div>

<%# ======== Placer Tracer ========  %>
<div id="placer-tracer-template">
  <div class="placer-tracer">
    X: <span class="x">0</span>
    Y: <span class="y">0</span>
    <span class="info"></span>
  </div>
</div>