<%# ======== Popup message ======== %>
<div id="popup-message-template">
  <div class="player-<%= "{slot}" %> <%= "{avatar}" %>">
    <div class="icon"></div>
    <span class="text">{infoMessage}</span>
  </div>
</div>
