<div id="research-buttons-template">
  <div class="research-buttons"></div>
</div>

<div id="research-button-template">
  <div class="research-button">
    <div class="count"></div>
  </div>
</div>

<div id="boycot-popup-template">
  <div class="boycot-popup">
    Obtained with R&D
  </div>
</div>


<div id="research-popup-template">
  <div class="research-popup">

    <div class="resource energy">
      <span class="icon"></span>
      <span class="count">{energy}</span>
    </div>
    <div class="resource titanium">
      <span class="icon"></span>
      <span class="count">{titanium}</span>
    </div>
    <div class="resource water">
      <span class="icon"></span>
      <span class="count">{water}</span>
    </div>
    <div class="resource grain">
      <span class="icon"></span>
      <span class="count">{grain}</span>
    </div>
    <div class="resource silicon">
      <span class="icon"></span>
      <span class="count">{silicon}</span>
    </div>

  </div>
</div>

<%# ======== R&D Buy Dialog ========  %>
<div id="research-dialog-template">
  <div class="research-dialog">
    <div class="content transport">
      You obtained <span><span class="count">0</span> links</span>.
    </div>
    <div class="content social">
      You obtained <span><span class="count">0</span> boycot group</span>.
    </div>
    <div class="content recycle">
      You obtained <span><span class="count">0</span> recycled matter</span>.
    </div>
    <div class="content cultural">
      You obtained <span><span class="count">0</span> university</span>.
    </div>
    <div class="type"><span></span></div>
    <div class="icon"></div>
    <div class="title">Your researh effort has paid off!</div>
    <div class="bar"></div>
    <div class="handle"></div>
  </div>
</div>

<%# ======== Recycle ========  %>
<div id="recycle-dialog-template">
  <div class="recycle-dialog">
    <div class="content">
      <span class="tip">Convert recycled units into resources.</span>
      <div class="recycled"><span></span></div>
    </div>
    <div class="icon"></div>
    <div class="title">Recycling Lab</div>
    <div class="bar"></div>
    <div class="handle"></div>
  </div>
</div>
