<%# ======== Resources templates ======== %>

<!-- Container -->
<div id="resources-template">
  <div class="resources">
  </div>
</div>

<!-- Button(s) -->
<div id="resources-button-template">
  <div class="resource">
    <div class="raider-warning"></div>
    <span class="res-icon"></span>
    <span class="res-count"></span>
  </div>
</div>

<!-- Popup -->
<div id="resource-popup-template">
  <div class="resource-popup">
    {resource}
  </div>
</div>