<%# ======== Score templates ======== %>
<div id="score-template">
  <div class="score">
    <div class="segment s1"></div>
    <div class="segment s2"></div>
    <div class="segment s3"></div>
    <div class="segment s4"></div>
    <div class="segment s5"></div>
    <div class="segment s6"></div>
    <div class="segment s7"></div>
    <div class="segment s8"></div>
    <div class="segment s9"></div>
    <div class="segment s10"></div>
  </div>
</div>
