<%# ======== Game Settings Dialog ========  %>
<div id="settings-dialog-template">
  <div class="settings-dialog">
    <div class="content">
      <div class="audio">

        <div class="fx setting">
          <span class="name">{nameFx}</span>
          <div class="speaker"></div>
          <div class="slider"></div>
          <span class="vol">0%</span>
        </div>

        <div class="music setting">
          <span class="name">{nameMusic}</span>
          <div class="speaker"></div>
          <div class="slider"></div>
          <span class="vol">0%</span>
        </div>

      </div>
    </div>
    <div class="icon"></div>
    <div class="title">{title}</div>
    <div class="bar"></div>
    <div class="handle"></div>
  </div>
</div>
