<!-- Summary template -->
<div id="summary-template">
  <div> <!-- class 'summary' added by custom anchor -->
    <span class="winner"></span>
    <span class="tip">WINNER!</span>
    <div class="users">
      <div class="selection"></div>
    </div>
    <div class="detail isometry"></div>
    <div class="avatar"></div>
    <div class="share"></div>
  </div>
</div>

<!-- Path detail -->
<div id="longest-path-template">
  <div class="path links">
    <div class="link p1 ver l1_{slot}"></div>
    <div class="link p2 hor l1_{slot}"></div>
    <div class="link p3 ver l1_{slot}"></div>
    <span class="count">{length}</span>
  </div>
</div>

<!-- User entry box (fb image, avatar, player number, name and color -->
<div id="user-entry-template">
  <div> <!-- class 'user-entry' added by custom anchor -->
    <span class="pos player-{slot}">{pos}</span>
    <div class="avatar {avatar} player-{slot}"></div>
    <div class="fb-image player-{slot}"></div>
    <span class="player player-{slot}">Player {slot}</span>
    <span class="info">{name}</span>
    <span class="score player-{slot}">{score}</span>
    <span class="points">Pts</span>
  </div>
</div>
