<div id="system-menu-template">

  <div class="system-menu">
    <div class="menu-items"></div>
  </div>

</div>

<div id="menu-item-template">
  <div class='menu-item enabled'>
    <div class='sprite {icon}'></div>
    <span class='text'>{text}</span>
  </div>
</div>