<div id="raiders-dialog-template">
  <div class="raiders-dialog">
    <div class="content">

      <div class="receive">
        <div class="circle energy">
          <div class="resource" rel="energy"></div>
        </div>
        <div class="circle titanium">
          <div class="resource" rel="titanium"></div>
        </div>
        <div class="circle water">
          <div class="resource" rel="water"></div>
        </div>
        <div class="circle grain">
          <div class="resource" rel="grain"></div>
        </div>
        <div class="circle silicon">
          <div class="resource" rel="silicon"></div>
        </div>
        <span class="tip">Choose the resource you need.</span>
      </div>

      <div class="give">
        <div class="circle energy">
          <div class="resource" rel="energy"><span></span></div>
        </div>
        <div class="circle titanium">
          <div class="resource" rel="titanium"><span></span></div>
        </div>
        <div class="circle water">
          <div class="resource" rel="water"><span></span></div>
        </div>
        <div class="circle grain">
          <div class="resource" rel="grain"><span></span></div>
        </div>
        <div class="circle silicon">
          <div class="resource" rel="silicon"><span></span></div>
        </div>
        <span class="tip">Your resource <span class="factor"></span></span>
      </div>

    </div>
    <div class="icon"></div>
    <div class="title">Trade with Raiders</div>
    <div class="bar"></div>
    <div class="handle"></div>
  </div>
</div>